<style>
  #log_btn, #email, #label_pass, #label_em , #pass, h1{
    margin: 10px;
  }
</style>
<div>
  <h2>Log in</h2>
  <%= form_with url: session_path do |form| %>
  <div class = 'form-group' style = 'width: 60%;'>
    <%= form.label :email, 'Email', id: 'label_em' %>
    <%= form.email_field :email, placeholder: 'E-mail', class: 'form-control', id: 'email' %>
  </div>
  <div class = 'form-group' style = 'width: 60%;'>
    <%= form.label :password, 'Password', id: 'label_pass' %>
    <%= form.password_field :password, class: 'form-control', id: 'pass' %>
  </div>
  <div class = 'form-group' style = 'width: 60%;'>
    <%= form.submit('Log in', id: 'log_btn',  class: 'btn btn-primary') %>
  </div>
<% end %>
</div>